:root{
  --primary-white:#fff;
  --primary-red:red;
}

.logo{
  width: 16rem;
}



nav{
  z-index: 2;
}
nav a nav-link{
  font-size: 0.3rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li{
  text-transform: uppercase;
}
.navbar-nav>li>a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  
  color: var(--primary-white) !important;

}
.navbar-brand{
  max-width: 12rem;
  padding: 0 !important;
}
.navbar-nav>li>a.active, navbar-nav>li>a:focus{
  border-top: 0.18rem solid var(--primary-red);
}
.navbar-nav>li> a:hover{
  border-top: 0.13rem solid var(--primary-red);
}
.header-wrapper{
  position: relative;
  background: url(bg.jpg) no-repeat;
  background-size: cover ;
  background-position: center;
  height: 90vh;
}
.main-info{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.main-info h1{
  color:black;

}

.typed-text{
  color: rgb(48, 48, 48);
  font-size: 4.2vh;
}

.btn-main{

  border: 1px solid red;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  color:black;
}
.btn-main:hover{
  color:rgb(50, 205, 179);
  background-color: rgb(255, 72, 0);
}
.tsparticles-canvas-el{
  position: absolute;
  height:100vh;
  width: 100vh;
   z-index: 1;
}
@media (max-width:768px) {
  .party{
    display: none;
  }
  
}